apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-gijftvho
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-gijftvho:70f8ced5b3b6b8eb2db7b3284c5afee5dac1089e@sha256:2dab9ec9416d6ae79658bc8626096ea4604af104c8d9534fc58ab954f3255dcc
          name: container-image
